*{
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  color: #e5e8f4;
  scroll-behavior: smooth;
}

html{
  background-color: #0b0e1a;
}

input {
  color-scheme: dark;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #bf6695;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #8a4369;
  transition: 0.5s;
  transition: ease-in;
}
